.btn {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: none;
  background: slateblue;
  color: white;
  font-size: 100px;
  font-weight: 500;
  line-height: 1;
}

html { height: 100%;}
body {
  background: #c8c0d5;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: rgba(172, 106, 172, 1);
  font-family: 'Roboto', 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 2rem;
}