/*styling for UI Style Guide Start*/
body {
	margin: 60px 60px;
}
.row {
	display: flex;
}

.column {
	flex: 50%;
}
.header {
	text-align: center;
}
.circle {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	display: inline-block;
	margin-right: 20px;
}
.rectangle {
	width: 135px;
	height: 34px;
	background: red;
	display: inline-block;
	margin-right: 40px;
}

/*styling for text*/
h2{
	color: grey;
}
h3{
	font-family: ff-meta-serif-web-pro,serif;
	font-weight: 300;
	font-style: normal;
	font-size: 36px;
}
h4 {
	font-family: proxima-nova,sans-serif;
	font-weight: 600;
	font-style: normal;
	font-size: 25px;
}
h5 {
	font-family: proxima-nova,sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 18px;
}
h6 {
	font-family: proxima-nova,sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 18px;
	color: white; 
	display: inline-block; 
	margin-right: 8em; 
	margin-bottom: 0.5em;
}
p {
	font-family: proxima-nova,sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 16px;
}
/*make the page responsive*/
@media screen and (max-width: 600px) {
	.column {
		width: 100%;
	}
}
/*styling for UI Style Guide End*/