/*CSS Flags*/

.flag{
	display: grid;
}

.flag-sweden {
	width:480px;
	height:300px;
	grid-template-columns: 150px 60px 270px;
	grid-template-rows: 120px 60px 120px;
}

.grid-item-blue {
	background-color: #0067A5;
	width:1;
}

.grid-item-yellow {
	background-color: #FDCF06;
	width:1;
}

.flag-finland{
	width: 540px;
	height: 390px;
	border: 2px solid black;
	grid-template-columns: 150px 90px 300px;
	grid-template-rows: 150px 90px 150px;
}

.grid-item-white{
	background-color: 0,0,0;
	width:1;
}

.flag-denmark{
	width: 510px;
	height: 420px;
	grid-template-columns: 180px 60px 270px;
	grid-template-rows: 180px 60px 180px;
}

.grid-item-red{
	background-color: #ED1C24;
	width:1;
}

.flag-iceland{
	width:480px;
	height: 320px;
	grid-template-columns: 140px 20px 40px 20px 280px;
	grid-template-rows: 140px 20px 40px 20px 140px;
}

















