/*CSS Flags*/

.flag{
	display: grid;
}

.flag-sweden {
	width:480px;
	height:300px;
	grid-template-columns: 150px 60px 270px;
	grid-template-rows: 120px 60px 120px;
}

.grid-item-blue {
	background-color: #0067A5;
	width:1;
}

.grid-item-yellow {
	background-color: #FDCF06;
	width:1;
}

.flag-finland{
	width: 540px;
	height: 390px;
	border: 2px solid black;
	grid-template-columns: 150px 90px 300px;
	grid-template-rows: 150px 90px 150px;
}

.grid-item-white{
	background-color: 0,0,0;
	width:1;
}

.flag-denmark{
	width: 510px;
	height: 420px;
	grid-template-columns: 180px 60px 270px;
	grid-template-rows: 180px 60px 180px;
}

.grid-item-red{
	background-color: #ED1C24;
	width:1;
}

.flag-iceland{
	width:480px;
	height: 320px;
	grid-template-columns: 140px 20px 40px 20px 280px;
	grid-template-rows: 140px 20px 40px 20px 140px;
}

.flag-ying-flag{
	width:300px;
	height: 150px;
	grid-template-columns: 15px 170px 15px 100px;
	grid-template-rows: 85px 15px 50px;
	background-color: black;
}

.grid-item-yellowgreen{
	background-color: #DFE21D;
	grid-column: 2;
	grid-row:1;
}

.grid-item-pink{
	background-color: #ED3794;
	grid-column: 4;
	grid-row:1;
}

.grid-item-peachpink{
	background-color: #F26A73;
	grid-row:3;
	grid-column:2/5;
}

/*Animation Text*/

html { height: 100%;}
body {
  background: #c8c0d5;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: rgba(172, 106, 172, 1);
  font-family: 'Roboto', 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 2rem;
}















