/*Adobe font:Madrone Std, Rift Soft, Poster Clean*/
@import url("https://use.typekit.net/ejl5ild.css");
html { height: 100%;}
body {
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}


.rise { 
  /*the font style of text "rise"*/
  color: #B616F2;
  font-family: madrone-std, serif;
  font-style: normal;
  font-size: 100px;
  font-weight: 500;
}

.flip {
  /*the font style of text "flip"*/
  color: #165FF2;
  font-size: 100px;
  font-weight: 500;
  font-family: "rift-soft", sans-serif;
  font-style: italic;
}

.fade {
  /*the font style of text "fade"*/
  color: #DDA210;
  font-size: 100px;
  font-weight: 500;
  font-family: "poster", sans-serif;
  font-style: normal;
}




